/* Mobile Firt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'fonte';
    src: url(fonte/font.ttf);
}

h1{
    position: relative;
    bottom: 10px;
}

body {
    font-family: fonte;
    background-image: url(imagens/back.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    max-width: 100%; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.wrapper {
    text-align: center; 
}

section {
    width: 90%;
    width: 300px; 
    background-color: rgba(0, 0, 0, 0.548);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 20px;
    display: inline-block; 
    transition:width 0.5s, height 0.5s; 
    transition-timing-function: ease;
}

#res,
#input {
    width: 100%;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 10px;
    font-size: 1em;
    cursor: pointer;
    transition-duration: 0.5s;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.253);
    transition-duration: 1s;
}

button:active{
    background-color: white;
    color: black;
}

footer {
    text-align: center;
    color: white;
    font-size: 1.2em; /* Diminuindo o tamanho do texto */
    margin-top: 10px; /* Aumentando a margem superior */
    text-shadow: 2px 2px 2px black;
    position: fixed; /* Colocando o rodapé no final da página */
    bottom: 0; /* Posicionando no fundo da página */
    width: 100%; /* Largura total */
    padding: 20px; /* Espaçamento interno */
    background-color: rgba(0, 0, 0, 0.548); /* Cor de fundo */
    border-top: 1px solid white; /* Adicionando uma borda superior */
}

a {
    text-decoration: dashed;
    color: white;
    transition-duration: 0.5s;
}

a:hover {
    color: red;
    text-decoration: dashed;
}